<!-- ALERT INEXISTANT NUMBER -->
<div class="alert alert-danger alert_nbr hidden">
  <p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  <strong class"alert_nbr_value"> {{this.alerts_msg.wrong_nbr}} </strong>
  </p>
</div>

<!-- ALERT CONFIRM ARTICLE -->
<div class="alert alert-success alert_confirm_article hidden">
  <p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  {{this.articles_related.confirm_selected_article_msg}}
  <button id="conf_article_ok" type="button" class="btn btn-danger">{{this.alerts_msg.ok}}</button>
  <button id="conf_article_nok"type="button" class="btn btn-default">{{this.alerts_msg.supp}}</button>
  </p>
</div>

<!-- ALERT CONFIRM COMMAND -->
<div id="alert_confirm_command" class="alert alert-success hidden">
  <p>
  {{this.articles_related.confirm_command_msg}}
  <button id="conf_command_ok" type="button" class="btn btn-danger next_list_{{this.articles_related.list_next}}">{{this.alerts_msg.ok}}</button>
  <button id="conf_command_nok" type="button" class="btn btn-default">{{this.alerts_msg.modify}}</button>
  </p>
</div>
